[project]
name = "paperview"
version = "0.2.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "requests",
    "tqdm",
    "pymupdf4llm",
]
